body {
  background-color: #fff;
  color: #043a56;
  font-family: sans-serif, Calibri;
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 0;
}

header {
  padding: 0 10%;
}

.main-section {
  padding: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.recent-scores {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.heading-area {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.heading-area h2 {
  display: inline-block;
}

.button {
  padding: 0 30px;
  height: 50%;
  background-color: #fff;
  border: 3px solid #043a56;
  box-shadow: 0 5px 5px #043a56;
}

.add-score {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.table {
  width: 100%;
  border: 3px solid #043a56;
  overflow: auto;
}

.table tr {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

tr:nth-child(even) {
  background-color: #d3d3d3;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.form input {
  border: 3px solid #043a56;
  margin-bottom: 0;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .main-section {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .heading-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
  }
}
